@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --primary-color: #274029;
    --secondary-color: #C5C5BE;
    --accent1-color: #CFCFC9;
    --accent2-color: #315C2B;

    --heading-font: "Russo One", sans-serif;
    --paragraph-font: "roboto", sans-serif;

    --nav-background-color: #CFCFC9;
    --nav-link-color: #274029;
    --nav-hover-link-color: #315C2B;
    --nav-hover-background-color: #C5C5BE;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

header, body, footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    font-family: var(--heading-font);
    background-color: var(--nav-background-color);
}

header img {
    display: flex;
    margin: 0 0.25rem 0 1rem;
	width: 125px;
	height: auto;
    border-radius: 50%;
}

body {
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;

}

footer {
    display: grid;
    grid-template-columns: 120px 2fr 1fr;
    height: 75px;
    align-items: center;
    justify-items: right;
    background-color: var(--nav-background-color);
}

footer p {
    grid-column: 2/3;
}

footer a:hover {
    color: var(--accent2-color);
}

figure figcaption {
    text-align: center;
    padding-top: .5rem;
}

button {
    margin: 0 auto;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 350px
}

button:hover {
    background-color: var(--accent2-color);
}

label {
    text-align: left;
    padding: .5rem 0 .5rem 0;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    resize: none;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

/* Containers */

.about-container {
    display: grid;
    grid-template-rows: 75px 420px 75px 250px 75px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px 0 30px 0;
    text-align: center;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 75px 440px 75px 300px 75px 1fr;
    grid-gap: 20px;
    padding: 30px 0 30px 0;
    text-align: center;
}

.trips-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 75px 200px 300px;
    grid-gap: 20px;
    padding: 30px 0 30px 0;
    text-align: center;
}

/* Class Selectors */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 440px;
    align-items: center;
    justify-items: center;
    grid-area: 1 / 1 / 3 / 4;
}

.hero img {
    display: grid;
    width: 100%;
    height: auto;
    grid-area: 1 / 1 / 3 / 4;
}

.hero h1 {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.50);
    width: 100%;
    padding: 1rem 0 1rem 0;
    grid-area: 1 / 1 / 2 / 4;
}

.hero article { 
    color: white;
    background: rgba(0, 0, 0, 0.50);
    width: 90%;
    grid-area: 1 / 1 / 3 / 4;
}

.hero article p { 
    padding: 15px; 
    text-align: left;
}

.hero article img {
    float: right;
    width: 200px;
    padding: 15px;
}

.social {
    display: flex;
    padding-right: 10px;
}

.social img {
    width: 25px;
}

.social a {
    padding: 0 0 0 0.5rem;
}

.navigation {
    display: flex;
    padding: 15px 0 15px 0;
}

.navigation a {
    display: block;
    padding: 10px 35px 10px 35px;
    color: var(--nav-link-color);
    border: 1px solid var(--nav-hover-link-color);
}

.navigation a:hover {
    position: relative;
    color: var(--nav-hover-link-color);
    font-weight: 700;
    background-color: var(--nav-hover-background-color);
    border: 1px solid var(--nav-hover-link-color);
}

.navigation li {
    list-style: none;
}

.history-title{ 
    grid-area: 3 / 1 / 4 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history {
    grid-area: 4 / 1 / 5 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.history img {
    width: 300px;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.50) 5px 5px 5px;
}

.adventure-title { 
    grid-area: 5 / 1 / 6 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adventure {
    grid-area: 6 / 1 / 7 / 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.adventure img {
    width: 150px;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.50) 5px 5px 5px;
}

.info {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.info h2 { padding: 1rem 0 1rem 0; }

.info table td {
    padding: .5rem;
    border: none;
    flex-direction: column;
    text-align: left;
}

.map { grid-area: 2 / 2 / 3 / 3 }

.employee {
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.employee-title{ 
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.employee img {
    width: 200px;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.50) 5px 5px 5px;
}

.contact-form {
    grid-area: 6 / 1 / 7 / 3 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-form-title{ 
    grid-area: 5 / 1 / 6 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form form {
    display: grid;
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--accent1-color);
}

.contact-form p {
    text-align: left;
    padding: 1.5rem 0 .5rem 0;
}

.contact-form h2 {
    text-align: center;
    padding: 0 0 30px 0;
}

.contact-form h3 {
    text-align: center;
    padding: 30px 0 30px 0;
}

.form-item1 {
    display: grid;
    align-items: center;
    grid-template-columns: 6rem 1fr;
    grid-gap: 1rem;
}

.form-item2 {
    display: grid;
    align-items: center;
    grid-template-columns: 1.5rem 4fr;
}

.form-item3 {
    display: grid;
    align-items: center;
    grid-template-columns: 1.5rem 4fr;
}

.page-title {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action {
    grid-area: 1 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px dotted var(--primary-color);
    border-radius: .5rem;
}

.action p {
    padding-bottom: 2rem;
    font-weight: 700;
    color: red;
    font-size: 1.5rem;
}

.action a {
    font-family: var(--heading-font);
    padding: 1rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background-color: var(--nav-link-color);
}

.action a:hover { background-color: var(--nav-hover-link-color); }

.details {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.details img {
    width: 200px;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.50) 5px 5px 5px;
}

.table_info {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.table_info table{
    border: 1px solid black;
    border-collapse: collapse;
}

.table_info table caption{
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding-bottom: 1rem;
    font-size: 30px;
}

.table_info th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  font-weight: 400;
}

.table_info table thead th{ font-weight: 700; }