@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --primary-color: #274029;
    --secondary-color: #C5C5BE;
    --accent1-color: #CFCFC9;
    --accent2-color: #315C2B;

    --heading-font: "Russo One", sans-serif;
    --paragraph-font: "roboto", sans-serif;

    --nav-background-color: #CFCFC9;
    --nav-link-color: #274029;
    --nav-hover-link-color: #315C2B;
    --nav-hover-background-color: #C5C5BE;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

header, body, footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0 15px 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem auto;
    align-items: center;
    justify-items: center;
    font-family: var(--heading-font);
    background-color: var(--nav-background-color);
}

header img {
    display: flex;
    margin: 0 0.25rem 0 1rem;
	width: 125px;
	height: auto;
}

body {
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

h1 {
    text-align: center;
    padding: 2rem 0 2rem 0;
}

footer {
    display: grid;
    grid-template-columns: 120px 2fr 1fr;
    height: 75px;
    align-items: center;
    justify-items: right;
    background-color: var(--nav-background-color);
}

footer p {
    grid-column: 2/3;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: var(--accent2-color);
}

figure figcaption {
    text-align: center;
}

section {
    border-bottom: 1px solid #ccc;
    padding: 2rem 0 2rem 0;
}

form {
    display: grid;
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--accent1-color);
}

form p {
    text-align: left;
    padding: 1.5rem 0 .5rem 0;
}

button {
    margin: 0 auto;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 350px
}

button:hover {
    background-color: var(--accent2-color);
}

label {
    text-align: left;
    padding: .5rem 0 .5rem 0;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    resize: none;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

.hero {
    display: grid;
    grid-template-rows: 100px 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 40px 0;
}

.hero img {
    width: 100%;
    height: auto;
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
}

.hero h1 {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.50);
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}

.hero article { 
    color: white;
    background: rgba(0, 0, 0, 0.50);
    grid-column: 1/2;
    grid-row: 2/3;
    width: 90%;
}

.hero article p {
    padding: 15px;
}

.hero article img {
    float: right;
    width: 200px;
    padding: 15px;
}

.social {
    display: flex;
    padding-right: 10px;
}

.social img {
    width: 25px;
}

.social a {
    text-decoration: none;
    padding: 0 0 0 0.5rem;
}

.navigation {
    display: flex;
    padding: 15px 0 15px 0;
}


.navigation a {
    display: block;
    text-decoration: none;
    padding: 10px 35px 10px 35px;
    color: var(--nav-link-color);
    border: 1px solid var(--nav-hover-link-color);
}

.navigation a:hover {
    position: relative;
    color: var(--nav-hover-link-color);
    font-weight: 700;
    background-color: var(--nav-hover-background-color);
    border: 1px solid var(--nav-hover-link-color);
}

.navigation li {
    list-style: none;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 2;
    gap: 25px;
    justify-items: center;

    padding: 45px 0 45px 0;
}

.history h2 {
    grid-column: 1/4;
}

.history img {
    width: 250px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 2;
    gap: 25px;
    justify-items: center;
    padding: 45px 0 45px 0;
}

.adventure h2 {
    grid-column: 1/6;
}

.adventure img {
    width: 150px;
    height: auto;
}

.info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .5fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
}

table td {
    padding: .5rem;
}

.map {
    grid-row: 1/4;
    grid-column: 2/3;
}

.employee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 2;
    gap: 25px;
    justify-items: center;
    padding: 45px 0 45px 0;
}

.employee img {
    width: 200px;
}

.employee h2 {
    grid-column: 1/4;
}

.contact_form {
    padding: 45px 0 45px 0;
}

.contact_form h2 {
    text-align: center;
    padding: 0 0 30px 0;
}

.contact_form h3 {
    text-align: center;
    padding: 30px 0 30px 0;
}

.form-item1 {
    display: grid;
    align-items: center;
    grid-template-columns: 6rem 1fr;
    grid-gap: 1rem;
}

.form-item2 {
    display: grid;
    align-items: center;
    grid-template-columns: 1.5rem 4fr;
}

.form-item3 {
    display: grid;
    align-items: center;
    grid-template-columns: 1.5rem 4fr;
}