@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --primary-color: #274029;
    --secondary-color: #C5C5BE;
    --accent1-color: #CFCFC9;
    --accent2-color: #315C2B;

    --heading-font: "Russo One", sans-serif;
    --paragraph-font: "roboto", sans-serif;

    --nav-background-color: #CFCFC9;
    --nav-link-color: #274029;
    --nav-hover-link-color: #315C2B;
    --nav-hover-background-color: #C5C5BE;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}